.createPostPage {
.resumeBuildPage {
    width: 100%;
    height: calc(100vh - 80px);
    display: grid;
    place-items: center;
  }

  .cpContainer {
  .resumeBuildContainer {
    width: 500px;
    height: auto;
    padding: 20px;
@@ -16,35 +16,35 @@
    flex-direction: column;
  }

  .cpContainer h1 {
  .resumeBuildContainer h1 {
    text-align: center;
  }

  .cpContainer label {
  .resumeBuildContainer label {
    font-size: 20px;
  }
  .cpContainer .inputGp {
  .resumeBuildContainer .question {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .inputGp input,
  .inputGp textarea {
  .question input,
  .question textarea {
    font-size: 18px;
    border: none;
    border-radius: 2px;
    padding: 5px;
  }

  .inputGp input {
  .question input {
    height: 40px;
  }
  .inputGp textarea {
  .question textarea {
    height: 150px;
  }

  .cpContainer button {
  .resumeBuildContainer button {
    margin-top: 20px;
    height: 40px;
    border: none;
@@ -66,45 +66,44 @@

  }

  .homePage .post {
  .homePage .resume {
    width: 600px;
    height: auto;
    max-height: 600px;
    background-color: rgb(250, 250, 250);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;

  }

  .post .postHeader {
  .resume .resumeHeader {
    display: flex;
    justify-content: center;
    width: 100%;


  }

  .postHeader .title {
  .resumeHeader .title {
    flex: 50%;


  }

  .FullName{

    border-bottom: 2px solid black;
  }
  .test{
    border-bottom: 5px  solid black;
  .proSum{
    border-bottom: 2px  solid black;

  }




  .post .postTextContainer {
  .resume .proSumTextContainer {
    word-wrap: break-word;
    height: auto;
    max-height: 400px;
