
.test{
    text-align: center;
}
.one{
    border: solid;
    padding: 30px;
    text-align: center;
    background-color:dodgerblue;
    color: white;
    margin: auto;
    display: inline-table;
    width: 165px;

}
.two{
    border: solid;
    padding: 30px;
    text-align: center;
    background-color:dodgerblue;
    color: white;
    margin: auto;
    display: inline-table;
    width: 165px;
}